@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #13D975;
  --color-darkPrimary: #171C19;
  --color-blackBg: #0A0A0A;
  --color-whiteBg: #E6E6E6;
  --color-blueBg: #1F262E;

  --color-blackText: #0A0A0A;
  --color-whiteText: #F5F5F5;
  --color-grayText: #333333;
  --color-grayText2: #A6A6A6;
  --color-lightGrayText: #D9D9D9;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
